.git
.gitignore
.gitattributes

.env
.env.local
.env.*.local

target/
*.class
*.jar
*.war

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

logs/
backup/
*.log
*.bak
*.bak2
*.bak3

Dockerfile*
docker-compose*.yml
.dockerignore

nginx/

mysql-init/

*.sql

*.md
